<div class="container">
    <h1>Search Users</h1>
    <form action="/search-user" method="GET">
        <div class="form-group">
            <label for="query">Search by Name:</label>
            <input type="text" id="query" name="query" value="<%= query %>" required>
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
    </form>

    <% if (query) { %>
        <% if (users.length > 0) { %>
            <h2>Search Results:</h2>
            <ul>
                <% users.forEach(user => { %>
                    <li><%= user.name %> - <%= user.email %></li>
                <% }) %>
            </ul>
        <% } else { %>
            <p>No users found matching "<%= query %>"</p>
        <% } %>
    <% } %>
</div>