/* visitedproductspage.css */
.products {
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    background-color: white;
}

.products-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.products-table th,
.products-table td {
    padding: 12px;
    text-align: left;
}

.products-table th {
    background-color: var(--border-color);
    color: white;
}
